<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EtherSoftware.NewsPresenter.Persistence.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <EtherSoftware.NewsPresenter.Persistence.Properties.Settings>
            <setting name="DataBaseFile" serializeAs="String">
                <value>CoreDataBase.data</value>
            </setting>
        </EtherSoftware.NewsPresenter.Persistence.Properties.Settings>
    </applicationSettings>
</configuration>